@using Microsoft.AspNetCore.Localization;
@using Microsoft.AspNetCore.Mvc.Localization;

@{
    string languageId = "nl";
    string cookieCulture = Context.Request.Cookies[CookieRequestCultureProvider.DefaultCookieName];
    if (cookieCulture != null)
    {
        languageId = cookieCulture.Substring(2, 2);
    }
    string languageName = Language.LanguagesDictionary[languageId].Name;

    //ophalen huidige pagina
    var thisPage = string.IsNullOrEmpty(Context.Request.Path) ? "~/index.html" : $"~{Context.Request.Path.Value}";
}

<ul class="navbar-nav">
    <li class="nav-item dropdown">
        <a class="nav-link text-dark dropdown" data-bs-toggle="dropdown">@languageName</a>
        <ul class="dropdown-menu">
            @foreach (Language l in Language.Languages)
                if (l.Id != languageId && l.IsShown)
                {
                    <li class="nav-item">
                        <a class="nav-link text-dark" 
                            asp-area="" 
                            asp-controller="Languages"
                            asp-action="ChangeLanguage"
                            asp-route-id="@l.Id"
                            asp-route-returnUrl=@thisPage>
                            @l.Name
                        </a>
                    </li>
                }
        </ul>
    </li>
</ul>
