@model string

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer


@if (!String.IsNullOrEmpty(Model))
{
    var statusMessageClass = Model.StartsWith("Error") ? "danger" : "success";
    <div class="alert alert-@statusMessageClass alert-dismissible" role="alert">
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label=@localizer["Close"]></button>
        @Model
    </div>
}
