@page
@model AccessDeniedModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Access denied"];
}
<header>
    <h1 class="text-danger">@ViewData["Title"]</h1>
    <p class="text-danger">@localizer["You do not have access to this resource."]</p>
</header>
