@page
@model ForgotPasswordConfirmation

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Forgot password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @localizer["Please check your email to reset your password"].
</p>
