@page
@model ResetPasswordConfirmationModel

@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer localizer

@{
    ViewData["Title"] = localizer["Reset password confirmation"];
}

<h1>@ViewData["Title"]</h1>
<p>
    @localizer["Your password has been reset. Please"] <a asp-page="./Login">@localizer["click here to log in"]</a>.
</p>
